## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yellowknife,CA,62.46,-114.35,15.80,85,90,10.29,light snow
1,1,Codrington,AU,-38.27,141.97,71.31,57,0,11.74,clear sky
2,2,Bucsa,HU,47.20,21.00,36.00,100,90,3.36,mist
3,3,Albany,US,42.60,-73.97,36.00,60,61,3.47,broken clouds
4,4,Melfort,CA,52.87,-104.62,21.20,85,97,8.05,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Phalaborwa,ZA,-23.94,31.14,80.60,65,41,2.24,scattered clouds
10,10,Rocha,UY,-34.48,-54.33,78.87,68,13,13.40,few clouds
35,35,Ondjiva,AO,-17.07,15.73,79.52,39,68,8.28,broken clouds
40,40,Avarua,CK,-21.21,-159.78,78.80,78,98,6.93,overcast clouds
42,42,Alofi,NU,-19.06,-169.92,84.20,70,68,14.99,broken clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Le Francois,MQ,14.62,-60.90,78.80,83,20,6.93,few clouds
694,694,Norsup,VU,-16.07,167.38,86.00,70,40,3.36,scattered clouds
698,698,Sungairaya,ID,0.70,108.90,77.70,85,100,3.60,overcast clouds
700,700,Puerto Madero,MX,14.72,-92.42,84.20,74,40,6.93,scattered clouds
701,701,Kimbe,PG,-5.55,150.14,80.69,83,100,5.95,moderate rain

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Phalaborwa,ZA,-23.94,31.14,80.60,65,41,2.24,scattered clouds
10,10,Rocha,UY,-34.48,-54.33,78.87,68,13,13.40,few clouds
35,35,Ondjiva,AO,-17.07,15.73,79.52,39,68,8.28,broken clouds
40,40,Avarua,CK,-21.21,-159.78,78.80,78,98,6.93,overcast clouds
42,42,Alofi,NU,-19.06,-169.92,84.20,70,68,14.99,broken clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Le Francois,MQ,14.62,-60.90,78.80,83,20,6.93,few clouds
694,694,Norsup,VU,-16.07,167.38,86.00,70,40,3.36,scattered clouds
698,698,Sungairaya,ID,0.70,108.90,77.70,85,100,3.60,overcast clouds
700,700,Puerto Madero,MX,14.72,-92.42,84.20,74,40,6.93,scattered clouds
701,701,Kimbe,PG,-5.55,150.14,80.69,83,100,5.95,moderate rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Phalaborwa,ZA,80.60,scattered clouds,-23.94,31.14,
10,Rocha,UY,78.87,few clouds,-34.48,-54.33,
35,Ondjiva,AO,79.52,broken clouds,-17.07,15.73,
40,Avarua,CK,78.80,overcast clouds,-21.21,-159.78,
42,Alofi,NU,84.20,broken clouds,-19.06,-169.92,
...,...,...,...,...,...,...,...
686,Le Francois,MQ,78.80,few clouds,14.62,-60.90,
694,Norsup,VU,86.00,scattered clouds,-16.07,167.38,
698,Sungairaya,ID,77.70,overcast clouds,0.70,108.90,
700,Puerto Madero,MX,84.20,scattered clouds,14.72,-92.42,
701,Kimbe,PG,80.69,moderate rain,-5.55,150.14,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Phalaborwa,ZA,80.60,scattered clouds,-23.94,31.14,Bothabelo B&B
10,Rocha,UY,78.87,few clouds,-34.48,-54.33,Beleza Pura B&B
35,Ondjiva,AO,79.52,broken clouds,-17.07,15.73,SOS Motel
40,Avarua,CK,78.80,overcast clouds,-21.21,-159.78,Paradise Inn
42,Alofi,NU,84.20,broken clouds,-19.06,-169.92,Taloa Heights
...,...,...,...,...,...,...,...
686,Le Francois,MQ,78.80,few clouds,14.62,-60.90,Hôtel Frégate Bleue
694,Norsup,VU,86.00,scattered clouds,-16.07,167.38,Nabelchel Bungalows
698,Sungairaya,ID,77.70,overcast clouds,0.70,108.90,Mess P.Milu
700,Puerto Madero,MX,84.20,scattered clouds,14.72,-92.42,Hotel La Central
701,Kimbe,PG,80.69,moderate rain,-5.55,150.14,Kimbe Bay Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))